body{
 font-family: 'Atkinson Hyperlegible', sans-serif;
 background-color: #ffffff;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0px 0px;
   
  }

h1{
    font-size: 36px;
    color: #4a4a49;
    margin: 5px 0px;
}

h3{
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0px;
}



  /* header */
.header{
      display: flex;
      justify-content: space-between;     
  }

.head-logo{
      display: flex;
      align-content: center;    
      width: 50%;
      align-items: center;
  }

  .nav-1{
      display: flex;
      justify-content: flex-end;
  }

.nav-item{
    display: block;
    margin: 0.5em;
}

/* banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8 ;
    }
    
.banner-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0px 24px ;
}

.banner-ima{    
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 32px 24px;
   
}

.banner-item-2{
    flex-direction: column;
    width: 35%;
    margin: 2px;
}

.button{
    background-color: #4a4a4a; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 65%;
    font-size: 16px;
    margin-top: 5px;
    
}

/* info */
.info{ 
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: ;       */
}

.info-item{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin: 0px 24px ;
}

/* .info-item-1-1{} */
    


.info-item-2{
    flex-direction: column;
    width: 35%;
    margin: 2px;
}

.info-item-2 .info-item-2-1{
    display: flex;
    flex-direction: row;

}

.info-ima{
    align-self: center;
    justify-self: center;
    width: 100%;
    margin: 32px 24px;
}

.info-ima-2{
    align-items: center;
    justify-self: center;
    width: 35%;
    margin: 32px 24px;
}