.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; 
}